<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
  crossorigin="anonymous"
></script>
<style>
  footer {
    height: 6vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    font-size: 36px;
  }
</style>
<footer>
  <h3>&copysr; 2025 my Blog App.</h3>
  <h2>All Rights reserved</h2>
  <p>Rudresh_21</p>
</footer>
